__pycache__/
*.pyc
.DS_Store
ids/
results/
logs/
src/tests
src/custom_features_extractor_old2.py
src/custom_network_old.py
pretrained_llms/
wandb/
rl_results/
slurm/old_slurms
configs/


logfiles/

a_memo.md